.Notifications {
  border: 2px dashed salmon;
  background: white;
}

.Notifications li[data-priority='default'] {
  color: blue;
}

.Notifications li[data-priority='urgent'] {
  color: red;
}

.Notifications li strong{
  font-weight: 900;
}